{% extends "base.html" %}

{% block title %}
{{ title | default('Shopping Manager') }}
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-2">
    <div class="col-md-8 col-lg-6">
        <div class="card sm-card">
            <div class="card-header">
                <h1 class="h4 mb-0 ">Edit Item</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <form method="post"  autocomplete="off">
                        {{ form.hidden_tag() }}
                        {{ form.name.label(class="form-label" , autocomplete="off" ) }}
                        
                                {{ form.name(class_= 'form-control', placeholder="New Name") }}
                                {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    <span> {{ error }}</span><br>
                                    {% endfor %}
                                </div>
                                {% endif %}
                           
                                {{ form.quantity.label(class="form-label" , autocomplete="off" ) }}
                                {{ form.quantity(class_= 'form-control',placeholder="Quantity") }}
                                {% if form.quantity.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.quantity.errors %}
                                    <span> {{ error }}</span><br>
                                    {% endfor %}
                                </div>
                                {% endif %}

                          
                                {{ form.measure.label(class="form-label" , autocomplete="off" ) }}
                                {{ form.measure(class_= 'form-control', placeholder="Unit (e.g kg, pcs)") }}
                                {% if form.measure.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.measure.errors %}
                                    <span> {{ error }}</span><br>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {{ form.submit(class="btn btn-primary w-100") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
