<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="alternate icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/svg+xml">

        <title>
            {% block title %}
            {{ title | default('Shopping Manager') }}
            {% endblock %}
        </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/components.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/animations.css') }}" rel="stylesheet">
        {% if request.endpoint == 'main.index' %}
        <link href="https://unpkg.com/a0s@2.3.1/dist/aos.css" rel="stylesheet">
        {% endif %}     
    </head>
    <body class="bg-light">
        <!--Nav Bar-->
        <div class="container px-0 sticky-top" style="margin: 0 auto; margin-top: 0.5rem;">
            <div class="row">
                <div class="col-12 px-0">
                    <nav class="navbar navbar-expand-lg " role="navigation" aria-label="Main navigation">
                        <div class="container">
                            <div class="logo">
                                <a class="nav-link" href="{{ url_for('main.index' )}}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 18C8.10457 18 9 17.1046 9 16C9 14.8954 8.10457 14 7 14C5.89543 14 5 14.8954 5 16C5 17.1046 5.89543 18 7 18Z" fill="#0dcaf0"/>
                                        <path d="M17 18C18.1046 18 19 17.1046 19 16C19 14.8954 18.1046 14 17 14C15.8954 14 15 14.8954 15 16C15 17.1046 15.8954 18 17 18Z" fill="#0dcaf0"/>
                                        <path d="M3 4H5L5.6 7M5.6 7L7 14H17L19 7H5.6Z" stroke="#0dcaf0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>Shopping Manager</span>
                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ms-auto">
                                    {% if current_user.is_authenticated %}
                                    <li class="nav-item mx-2"> 
                                        
                                    </li>
                                    {% if current_user.household_id %}
                                    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'main.dashboard' %} active{% endif %}" href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if request.endpoint == 'household_bp.view' and request.view_args and request.view_args.get('household_id')|int == current_user.household_id %} active{% endif %}"
                                        href="{{ url_for('household_bp.view', household_id=current_user.household_id) }}">Household</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link {% if request.endpoint == 'settings_bp.account_settings' %} active{% endif %}" href="{{ url_for('settings_bp.account_settings') }}">Settings</a></li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <form method="POST" action="{{ url_for('auth.logout')}}" class="d-inline" id="logoutForm">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button type="submit" class="nav-link">Logout</button>
                                        </form>
                                    </li>
                                    {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.auth') + '#login' }}">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{url_for('auth.auth') + '#register' }}">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="page-loader hidden" id="pageLoader">
            <div class="dots-container">
              <div class="dot pulse"></div>
              <div class="dot pulse"></div>
              <div class="dot pulse"></div>
            </div>
        </div>

        <!-- Flash Messages -->
         <div class="container py-4 mt-3">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show " id="flashMessage" role="alert">
                {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <main class="container py-4">
            {% block content %}
            
            {% endblock %}
        </main>

        <div class="container px-0 " style="margin: 0 auto; margin-bottom: 0.5rem;">
            <div class="row">
                <div class="col-12 px-0">
                    <footer class=" text-dark py-3 mt-auto" id="foooter">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="footer-logo">
                                    <a class="nav-link" href="{{ url_for('main.index' )}}">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 18C8.10457 18 9 17.1046 9 16C9 14.8954 8.10457 14 7 14C5.89543 14 5 14.8954 5 16C5 17.1046 5.89543 18 7 18Z" fill="#0dcaf0"/>
                                            <path d="M17 18C18.1046 18 19 17.1046 19 16C19 14.8954 18.1046 14 17 14C15.8954 14 15 14.8954 15 16C15 17.1046 15.8954 18 17 18Z" fill="#0dcaf0"/>
                                            <path d="M3 4H5L5.6 7M5.6 7L7 14H17L19 7H5.6Z" stroke="#0dcaf0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <span>Shopping Manager</span>
                                    </a>
                                </div>
                                <div class="text-md-end">
                                    <p class="mb-0">
                                        &copy;
                                        <span id="year"></span>
                                        <a class="footer-text text-dark" href="{{ url_for('main.index') }}">Shopping Manager.</a> 
                                        All rights reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    

        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100"></div>

        <template id="toastTemplate">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto toast-title">Notification</strong>
                    <small class="text-muted toast-timestamp">Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">

                </div>
            </div>
        </template>

        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="confirmModalDialog">
                <div class="modal-content" id="confirmModalContent">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmModalLabel">Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure? This action cannot be undone.
                    </div>
                    <div class="modal-footer d-flex flex-column"> 
                        <button type="button" class="btn btn-secondary w-100 mb-2" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger w-100" id="confirmBtn">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    
        {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
        
    </body>
</html>
