{% extends 'base.html' %}

{% block title %}
{{ title | default('Shopping Manager') }}
{% endblock %}

{% block content %}
<div class="container mt-2">
    <h2>Household Setup</h2>
    <ul class="nav nav-pills nav-toggle-switcher mb-3" id="householdTab" role="tablist">
        <span class="sliding-indicator" id="tabSlider"></span>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if initial_active_tab == 'join' %} active{% endif %}" id="join-tab" data-bs-toggle="tab" data-bs-target="#join-tab-pane" type="button" role="tab" aria-controls="join-tab-pane" aria-selected="true">
                Join
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if initial_active_tab == 'create' %} active{% endif %}" id="create-tab" data-bs-toggle="tab" data-bs-target="#create-tab-pane" type="button" role="tab" aria-controls="create-tab-pane" aria-selected="false">
                Create
            </button>
        </li>
    </ul>
    <div class="tab-content" id="householdTabContent">
        <div class="tab-pane fade {% if initial_active_tab == 'join' %} show active{% endif %}" id="join-tab-pane" role="tabpanel" aria-labelledby="join-tab" tabindex="0">
            <div class="card sm-card">
                <div class="card-header">
                    <h4>Join an Existing Household</h4>
                </div>
                <div class="card-body">
                    <p>Enter the household join code provided by the administrator.</p>
                    <form method="POST" action="{{ url_for('household_bp.setup') }}" id="joinHouseholdForm">
                        <div class="mb-3">
                        {{ join_form.hidden_tag() }}
                        {{ join_form.join_code.label(class="form-label") }}
                        {{ join_form.join_code(class="form-control") }}
                        <input type="hidden" name="action" value="join">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">Join</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade{% if initial_active_tab == 'create' %} show active{% endif %}" id="create-tab-pane" role="tabpanel" aria-labelledby="create-tab" tabindex="0">
            <div class="card sm-card">
                <div class="card-header">
                    <h4>Create a New Household</h4>
                </div>
                <div class="card-body">
                    <p>Give your new household a name.</p>
                    <form method="post" action="{{ url_for('household_bp.setup') }}" id="createHouseholdForm">
                        <div class="mb-3">
                        {{ create_form.hidden_tag() }}
                        {{ create_form.household_name.label(class="form-label") }}
                        {{ create_form.household_name(class="form-control") }}
                        <input type="hidden" name="action" value="create">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">Create Household</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/tabswitch.js') }}"></script>
<script src="{{ url_for('static', filename='js/setup.js') }}"></script> 
{% endblock %}